
<div class="page-header mt-2" >
        <h1 class="header ps-4">AWS Playground</h1>
        <nav class="topnavbar">
            <ul class="navbar-list">
                <li class="list-item">
                    <a [routerLink]="'/labs'" class="navbar-link">Labs</a>
                </li>
                <li class="list-item">
                    <a href="" class="navbar-link">Learning Paths</a>
                </li>
                <li class="list-item">
                    <a href="" class="navbar-link">Certifications</a>
                </li>
                <li class="list-item">
                    <a href="" class="navbar-link">Services</a>
                </li>
                <li class="list-item">
                    <a href="" class="navbar-link">Hands-On</a>
                </li>
            </ul>
        </nav>
        <img src="./assets/images/aws.png" alt="AWS Logo" class="aws-img img-fluid p-2">
</div>